* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.container h2 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    font-size: 32px;
    color: #fff;
}

.btn {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 8px;
    font-size: 15px;
    letter-spacing: 1.5px;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #222;
    background-color: transparent;
    cursor: pointer;
}

.btn:hover {
        background-color: #222;
        color: #fff;
        transition: all 0.3s ease-in-out;
    }

.color {
    color: #49a6e9;
}
